
{% extends 'base.html' %}
{% load static %}

{% block pagecontant %}



	<!-- banner -->
	<div class="banner-edulearn-2">
		<!-- navigation -->
		<div class="navigation-educationsls">
			<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-center">
						<li class="nav-item active">
							<a class="nav-link text-white" href="{% url 'home' %}">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="{% url 'courses_list' %}">Courses</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="{% url 'blog' %}">Blog</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="{% url 'blog' %}">Events</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="{% url 'gallery' %}">Gallery</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</div>
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->

	<!-- history -->
	<div class="about-page py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">about
				<span class="font-weight-bold">us</span>
			</h3>
			<div class="row about-head-learns">
				<div class="col-lg-6 left-abeducationsls">
					<img src="{% static 'edtechworx/images/ap-1.jpg'%}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 right-abeducationsls mt-lg-0 mt-sm-5 mt-4">
					<h4 class="font-italic border-bottom text-center font-weight-bold pb-3 mb-4">Our History</h4>
					<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi, Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
						ullamco laboris nisi. </p>
					<p class="mt-3">Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi, Eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- //history -->

	<!-- mission -->
	<div class="about-page-2 py-5">
		<div class="container-fluid py-xl-5 py-lg-3">
			<div class="row about-head-learns-2">
				<div class="col-lg-4 left-abeducationsls text-lg-left text-center">
					<img src="{% static 'edtechworx/images/ap-2.jpg'%}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-4 right-abeducationsls my-lg-0 my-sm-5 my-4">
					<h4 class="font-italic border-bottom text-center font-weight-bold pb-3 mb-4">Our Mission</h4>
					<p>Eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi. </p>
					<p class="mt-3">Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi, Eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
				<div class="col-lg-4 left-abeducationsls text-lg-left text-center">
					<img src="{% static 'edtechworx/images/ap-3.jpg'%}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- //mission -->

	<!-- team -->
	<div class="team py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">our
				<span class="font-weight-bold">Instructors</span>
			</h3>
			<div class="row inst-grids pt-md-4">
				<div class="col-md-3 col-6 blog-gd-educationsls">
					<img src="{% static 'edtechworx/images/team1.jpg'%}" alt=" " class="img-fluid">
					<div class="date-educations">
						<h4>Michael King</h4>
						<p class="para-educations-edulearn">Phasellus sed iaculis</p>
						<div class="edulearninfo-social-grids">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6 blog-gd-educationsls">
					<img src="{% static 'edtechworx/images/team2.jpg'%}" alt=" " class="img-fluid">
					<div class="date-educations">
						<h4>Katherin Tresa</h4>
						<p class="para-educations-edulearn">Phasellus sed iaculis</p>
						<div class="edulearninfo-social-grids">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6 blog-gd-educationsls  last mt-md-0 mt-sm-5 mt-4">
					<img src="{% static 'edtechworx/images/team3.jpg'%}" alt=" " class="img-fluid">
					<div class="date-educations">
						<h4>Steven Monroe</h4>
						<p class="para-educations-edulearn">Phasellus sed iaculis</p>
						<div class="edulearninfo-social-grids">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-6 blog-gd-educationsls last mt-md-0 mt-sm-5 mt-4">
					<img src="{% static 'edtechworx/images/team4.jpg'%}" alt=" " class="img-fluid">
					<div class="date-educations">
						<h4>Khamok Mokai</h4>
						<p class="para-educations-edulearn">Phasellus sed iaculis</p>
						<div class="edulearninfo-social-grids">
							<ul>
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fas fa-rss"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->

	<!-- what we do -->
	<div class="why-choose-edulearn py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-white text-center mb-5">what we
				<span class="font-weight-bold">do</span>
			</h3>
			<div class="row edulearnits-educationslayouts-grid pt-md-4">
				<div class="col-lg-4 services-edulearn-1">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="fab fa-accusoft"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">special education</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-edulearn-1 my-lg-0 my-5">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="fas fa-book"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">full day session</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-edulearn-1">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="fas fa-users"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">qualified teachers</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row edulearnits-educationslayouts-grid mt-5">
				<div class="col-lg-4 services-edulearn-1">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="far fa-calendar-alt"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">events</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-edulearn-1  my-lg-0 my-5">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="fas fa-graduation-cap"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">pre classes</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-edulearn-1">
					<div class="row learns_edulearn_us">
						<div class="col-lg-3 col-md-2 col-3  edulearn-why-text">
							<div class="learns_features_grid text-center p-3 border rounded">
								<i class="far fa-clock"></i>
							</div>
						</div>
						<div class="col-9 edulearn-why-text-2">
							<h4 class="text-capitalize text-white font-weight-bold mb-3">24/7 supports</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //what we do -->









{% endblock %}

